div{
    font-family: 'Lugrasimo', cursive;
font-family: 'Noto Serif Khitan Small Script', sans-serif;
}
span{
    font-family: 'Lugrasimo', cursive;
font-family: 'Noto Serif Khitan Small Script', sans-serif;
font-family: 'Tangerine', cursive;
}